{% extends "base.html" %}

{% block content %} 
<div class="inner cover">
  <h1 class="cover-heading" style="font-weight:700">Ear-Training Made Beautiful</h1>
  <p class = "lead"> Mezzo is an interactive, fun, and beautiful way to train your ear and strengthen your musicianship skills. Using a selection of highly interactive games, Mezzo makes ear training addictive and easy. Users choose from game categories such as intervals, melodies, and chords, and level up as they slowly become masters at each musical skill.  </p>
  <br><br>
  <p class="lead">Mezzo was developed in a CS course at Princeton University by four undergraduates who were frustrated by the lack of modern and interactive ear-training tools available. With Mezzo, they hope to bring musicianship skills to the masses.</p>
  <br><br>
  <h1 class="cover-heading">The Team</h1>
  <div class="row">

    <div class="col-md-6">
      <img src="{{STATIC_URL}}/images/mike.jpg" alt="mikesface" class="img-circle">
      <h2>Mike Mulshine</h2>
      <p>Mike is pretty cool. He does a lot of things.</p>
    </div>
    <div class="col-md-6">
      <img src="{{STATIC_URL}}/images/delaney.jpg" alt="delaneysface" class="img-circle">\
      <h2>Delaney Granizo-Mckenzie</h2>
      <p>Delaney is pretty great. He does a lot of things.</p>
    </div>
  </div>

  <br><br>
  <div class="row">
    <div class="col-md-6">
      <img src="{{STATIC_URL}}/images/anna.jpg" alt="annasface" class="img-circle">
      <h2>Anna Ren</h2>
      <p>Anna is pretty swell. She does a lot of htings.</p>
    </div>
    <div class="col-md-6">
      <img src="{{STATIC_URL}}/images/steven.jpg" alt="stevensface" class="img-circle">
      <h2>Steven Tran</h2>
      <p>Steven is pretty rad. He does a lot of things.</p>
    </div>
  </div>
    <div class="contactfooter">
    <p>Contact the makers at princetonmezzo@gmail.com</p>

</div>
</div>
{% endblock %}
