<!DOCTYPE html>
<html lang="en">
    <head>
      <link href="http://fonts.googleapis.com/css?family=Raleway:100" rel="stylesheet" type="text/css">
        <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
                <meta name="viewport" content="width=device-width, initial-scale=1">
                    <meta name="description" content="">
                        <meta name="author" content="">
                            <!--<link rel="shortcut icon" href="../../assets/ico/favicon.ico">-->
                                
                                <link rel="icon" type="image/ico" href="{{ STATIC_URL }}/images/favicon.ico">
                                <title>SuperTonic</title>
                                
                                <!-- Bootstrap core CSS -->
                                <!--<link href="{{STATIC_URL}}css/bootstrap.min.css" rel="stylesheet">
                                <!--<link href="{{STATIC_URL}}css/bootstrap-theme.min.css" rel="stylesheet">
                                
                                <!-- Latest compiled and minified CSS -->
                                <link href="{{ STATIC_URL }}/css/bootstrap.min.css" rel="stylesheet" type="text/css">
                                    
                                <!-- Optional theme -->
                                <link href="{{ STATIC_URL }}/css/bootstrap-theme.min.css" rel="stylesheet"  type="text/css">
                                    
                                <!-- Latest compiled and minified JavaScript -->
                                <link href="{{ STATIC_URL }}/css/bootstrap.css" rel="stylesheet" type="text/css">
                                    
                                <!-- Optional theme -->
                                <link href="{{ STATIC_URL }}/css/bootstrap-theme.css" rel="stylesheet"  type="text/css">
                                <!-- Latest compiled and minified JavaScript
                                <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
                                -->    
                                <!-- Custom styles for this template -->
                                <link href="{{ STATIC_URL }}/css/cover.css" rel="stylesheet" type="text/css">
                                    
                                    <!-- Javascript Stuff -->
                                    <script src="http://code.jquery.com/jquery-latest.js"></script>
                                    <script type="text/javascript" src="http://twitter.github.com/bootstrap/assets/js/bootstrap-dropdown.js"></script>
                                    
                                    <!-- Just for debugging purposes. Don't actually copy thisd line! -->
                                    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
                                    
                                    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
                                    <!--[if lt IE 9]>
                                     <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
                                     <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
                                     <![endif]-->
                                    <script>
                                        $(function(){
                                          $("#includeMenu").load("{{ STATIC_URL }}/html/menu.html");
                                          });
                                        </script>
                                    <script>
                                        $(function(){
                                          $("#includeFooter").load("{{ STATIC_URL }}/html/footer.html");
                                          });
                                        </script>
    </head>
    
    <body>
        body { padding-top: 70px; }
      <div class="site-wrapper">

  <div class="site-wrapper-inner">
      <div class="cover-container">

          <!-- <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">SuperTonic</h3>
              <ul class="nav masthead-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">Features</a></li>
                <li><a href="#">Contact</a></li>
              </ul>
            </div>
          </div> -->
                              <div id="includeMenu"></div>
	        <div class="inner cover">
		  
		        <h1 class="cover-heading">Help</h1>
			            <p class="lead">To get started with SuperTonic, choose a game category from the train menu above. A good first category for beginners is Intervals. 
              <p class="lead">
                <a href="/intervals" class="btn btn-lg btn-default">Try Intervals!</a>
              </p>
            </div>
            
<div id="includeFooter"></div>
                    
                </div>
                
            </div>
            
        </div>
        
        <!-- Bootstrap core JavaScript
         ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="{{STATIC_URL}}/js/bootstrap.min.js"></script>
        <script src="{{STATIC_URL}}/js/docs.min.js"></script>
    </body>
</html>
