{% extends "base.html" %}

{% block content %}
<div class="inner cover">
    <h1 class="cover-heading" style="font-size:50px">Help</h1>
    <p class="lead">To get started with SuperTonic, choose a game category from the train menu above: either intervals or melodies.</p>
    <p class = "lead" style = "font-size: 14px"> Interval instructions </p>
    <p class = "lead" style = "font-size: 14px"> Melody instructions </p>
    <p class="lead">
    <a href="/intervals" class="btn btn-lg btn-default">Try Intervals!</a>
    <a href="/melodies" class="btn btn-lg btn-default">Try Melodies!</a>
    </p>
</div>
{% endblock %}
