{% extends "base.html" %}

{% block extrahead %}
<script src="{{ STATIC_URL }}/js/vexflow-debug.js"></script>
<script src="{{ STATIC_URL }}/js/vexflow-min.js"></script>
<script src="{{ STATIC_URL }}/js/interval-names-table.js"></script>
<script src="{{ STATIC_URL }}/js/melodies.js"></script>
<script src="{{ STATIC_URL }}/js/progress-bar.js"></script>
<script src="{{ STATIC_URL }}/js/riffwave.js"></script>
<script src="{{ STATIC_URL }}/js/music-staff.js"></script>
<script src="{{ STATIC_URL }}/js/ajax-functions.js"></script>
<script src="{{ STATIC_URL }}/js/GLOBAL.js"></script>
<script>
    //SHOULD BE LOADED FROM DATABASE AS MAX LEVEL
    var currentMelodyLevel = 1;
    //SHOULD ALSO BE LOADED FROM DATABASE
    var maxMelodyLevel = 6;
    
    //SHOULD BE LOADED FROM DATABASE AS MAX LEVEL
    var currentIntervalLevel = 1;
    //SHOULD ALSO BE LOADED FROM DATABASE
    var maxIntervalLevel = 25;

    
    setTimeout(function(){
        document.getElementById("int_go").setAttribute("onclick","submitIntInfo()");
        document.getElementById("mel_go").setAttribute("onclick","submitMelInfo()");
    }, 1500);
    
    
    function decreaseCurMelLvl()
    {
        if(currentMelodyLevel > 1){
            currentMelodyLevel = currentMelodyLevel - 1;
            //update the counter
            document.getElementById("curMelLvl").innerHTML=currentMelodyLevel.toString();
        }
    }

    function increaseCurMelLvl(max)
    {
        if(currentMelodyLevel < maxMelodyLevel && currentMelodyLevel < max){
            currentMelodyLevel = currentMelodyLevel + 1;
            //update the counter
            document.getElementById("curMelLvl").innerHTML=currentMelodyLevel.toString();
        }
    }

    function decreaseCurIntLvl()
    {
        if(currentIntervalLevel > 1){
            currentIntervalLevel = currentIntervalLevel - 1;
            //update the counter
            document.getElementById("curIntLvl").innerHTML=currentIntervalLevel.toString();
        }
    }

    function increaseCurIntLvl(max)
    {
        if(currentIntervalLevel < maxIntervalLevel && currentIntervalLevel < max){
            currentIntervalLevel = currentIntervalLevel + 1;
            //update the counter
            document.getElementById("curIntLvl").innerHTML=currentIntervalLevel.toString();
        }
    }
    
      function getILevel()
      {
        Dajaxice.database.getMaxIntervalLvl(level_callback, {'text':'{{user.username}}'});
      }

      function getMLevel()
      {
        Dajaxice.database.getMaxMelodyLvl(Mlevel_callback, {'text':'{{user.username}}'});
      }


    function submitIntInfo() {
        Dajaxice.database.sendIntLvl(intcurlevel_callback, {'text':'{{user.username}}', 'curIntLvl': currentIntervalLevel});
        window.location.href = '/intervals/';
        //Dajaxice.database.sendIntLvl(intcurlevel_callback, {'text':'{{user.username}}'}, currentIntervalLevel);
    }

    function submitMelInfo() {
        Dajaxice.database.sendMelLvl(melcurlevel_callback, {'text':'{{user.username}}', 'curMelLvl': currentMelodyLevel});
        window.location.href = '/melodies/';
        //Dajaxice.database.sendMelLvl(melcurlevel_callback, {'text':'{{user.username}}'}, currentMelodyLevel);
    }

  getILevel();
  getMLevel();
  setTimeout(function(){document.getElementById("curIntLvl").innerHTML = max_level.toString(); currentIntervalLevel = max_level;}, 1000);
  setTimeout(function(){document.getElementById("curMelLvl").innerHTML = mel_level.toString(); currentMelodyLevel = mel_level}, 1000);

</script>
{% endblock %}

{% block content %}

{% if user.is_authenticated %}
<div id="game">
    <div class="row">
        <h1 class="cover-heading">Choose a game type and level to start:</h1> 
    </div>
    <br>
    <div class="row">
        <div class="col-md-6">
            <h2 class="cover-heading">Intervals</h2>

            <span id="curIntLvl" align="center" style="font-size:60px">
                ?
            </span>
            <p class = "tpbutton btn-toolbar" style="text-align:center">
                <button type="button" class="btn btn-default btn-lg" onclick="decreaseCurIntLvl()">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </button>
                <button id = "int_go" type="button" class="btn btn-default btn-lg" onclick = "">
                    Go
                </button>
                <button type="button" class="btn btn-default btn-lg" onclick="increaseCurIntLvl(max_level)">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </button>
            </p>
        </div>
        <div class="col-md-6">
            <h2 class="cover-heading">Melodies</h2>

            <span id="curMelLvl" align="center" style="font-size:60px">
                ?
            </span>
            <p class = "tpbutton btn-toolbar" style="text-align:center">
                <button type="button" class="btn btn-default btn-lg" onclick="decreaseCurMelLvl()">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </button>
                <button  id = "mel_go" type="button" class="btn btn-default btn-lg" onclick = "">
                    Go
                </button>
                <button type="button" class="btn btn-default btn-lg" onclick="increaseCurMelLvl(mel_level)">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </button>
            </p>
        </div>
    </div>
</div>
{% else %}

<div class="inner cover">
    <h1 class="cover-heading">Nice try, hoser!</h1>
    <p class="lead">Thou art a fusty nut with no kernel.</p>
    <p class="lead">
    <a href="/signin" class="btn btn-lg btn-default">Concede defeat.</a>
    </p>
    <p class="lead">
    <a href="http://www.theworldsworstwebsiteever.com/" class="btn btn-lg btn-default">Never!</a>
    </p>
</div>

{% endif %}

{% endblock %}
