{% extends "base.html" %}

{% block content %}
<div class="inner cover" onclick="Dajaxice.database.sayhello(my_js_callback);">

<div>
	<button onclick = "Dajaxice.database.getIntervalLvl(level_callback, {'text':'{{user.username}}' });">Click for level.</button>
    <button onclick = "Dajaxice.database.intervalLvlUp(level_callback, {'text':'{{user.username}}' });">Click to change level.</button>
	<button onclick = "Dajaxice.database.getIntervalLvl(level_callback, {'text':'{{user.username}}' });">Click for new level.</button>
</div>
{% endblock %}
