{% extends "base.html" %}

{% block content %}
<style>
body 
{
background-image:url("{{STATIC_URL}}/images/sexy_piano.jpg");
background-color:#cccccc;
color:white;
}
</style>
<div class="inner cover">

    <h1 id="logo" class="cover-heading animated fadeInDown">Mezzo</h1>
    <p id="description" class="lead animated fadeIn">Welcome! Mezzo is the beautiful, interactive ear-training application for musicians and non-musicians alike. Improve your sight-reading and musicianship with just a few progressive games.</p>
    
    {% if user.is_authenticated %}<a id="startbutton" href="/hub" class="btn btn-lg btn-default animated bounceIn">Let's start.</a>
    {% else %}<a id="startbutton" href="/signin" class="btn btn-lg btn-default animated bounceIn">Let's start.</a>{% endif %}
</div>
{% endblock %}
