{% extends "base.html" %}

{% block content %}

<div class="row">
	<div class="col-md-6">
        <h1 class="cover-heading"> Come on in! </h1>
        <form method="post" action="/auth_user/">
            {% csrf_token %}
            <label for="username"> Username: </label>
            <input type="text" name="username" value="" id="username"><br>
                <label for="password"> Password: </label>
                <input type ="password" name="password" value="" id="password"><br>
                    <input type="submit" name="submit" value="Log in!" />
                    </form>
	</div>
	<div class="col-md-6">
        <h1 class="cover-heading"> Join Ussss </h1>
        {{ errorMsg }}
        <form method="post" action="/register/">
            {% csrf_token %}
            <label for="username"> Who are you? </label>
            <input type="text" name="username" value="" id="username"><br>
            <label for="password1"> Secret Code: </label>
            <input type ="password" name="password1" value="" id="password1"><br>
            <label for="password2"> What was the code again? </label>
            <input type ="password" name="password2" value="" id="password2"><br>
            <input type="submit" name="submit" value="Create User" />
        </form>
	</div>
</div>
<div class="site-wrapper">
    <div class="site-wrapper-inner">
        <div class="cover-container">
{% endblock %}
