{% extends "base.html" %}

{% block content %}
<div class="inner cover" id="blueglass">
  <h1 class="cover-heading">Register for Mezzo!</h1>

  <div class="row">
    <div class="col-md-6">
      <h1 class="cover-heading">Sign in!</h1>
      <form role="form" method="post" action="/auth_user/">
        {% csrf_token %}
        <div class="form-group">
          <input type="text" class="form-control" name="username" placeholder="Username" id="username"><br>
        </div>
        <div class="form-group">
          <input type="password" class="form-control" name="password" placeholder="Password" id="password"><br>
        </div>
        <button type="submit" class="btn btn-success">Login</button>
      </form>
    </div>
    <div class="col-md-6">
      <h1 class="cover-heading">Sign up!</h1>
      {{ errorMsg }}
      <form role="form" method="post" action="/register/">
        {% csrf_token %}
        <div class="form-group">
          <input type="text" class="form-control" name="username" placeholder="Username" id="username"><br>
        </div>
        <div class="form-group">
          <input type="password" class="form-control" name="password1" placeholder="Password" id="password1"><br>
        </div>
        <div class="form-group">
          <input type ="password" class="form-control" name="password2" placeholder="Re-enter Password" id="password2">
        </div>
        <button type="submit" name="submit" class="btn btn-success">Create Account</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
