<!DOCTYPE html>
<html lang="en">
    <head>

          <title>My practice vexflow</title>
  
          <link href='http://fonts.googleapis.com/css?family=OFL+Sorts+Mill+Goudy+TT|Yanone+Kaffeesatz|Tangerine'
           rel='stylesheet' type='text/css'>
          <link href="http://www.vexflow.com/vextab/style.css" media="screen" rel="Stylesheet" type="text/css" />


          <!-- VexFlow Compiled Source -->
          <script src="{{STATIC_URL}}/js/vexflow-debug.js"></script>
          <script src="{{ STATIC_URL }}/js/vexflow-min.js"></script>

          <!-- Support Sources -->
          <script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>

         
          <style type="text/css">
            canvas {
              background: #fff;
              padding: 10px;
              border-radius: 8px;
              border: 10px solid #456;
            }

            div.egcode {
              font-family: Courier;
              font-size: 14px;
            }
          </style>

        <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
                <meta name="viewport" content="width=device-width, initial-scale=1">
                    <meta name="description" content="">
                        <meta name="author" content="">
                            <link rel="shortcut icon" href="../../assets/ico/favicon.ico">
                                
                                <title>Cover Template for Bootstrap</title>
                                
                                <!-- Bootstrap core CSS -->
                                <!--<link href="{{STATIC_URL}}css/bootstrap.min.css" rel="stylesheet">
                                <!--<link href="{{STATIC_URL}}css/bootstrap-theme.min.css" rel="stylesheet">
                                    
                                <!-- Latest compiled and minified CSS -->
                                <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
                                    
                                <!-- Optional theme -->
                                <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
                                    
                                <!-- Latest compiled and minified JavaScript -->
                                <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
                                    
                                <!-- Custom styles for this template -->
                                <link href="{{ STATIC_URL }}/css/cover.css" rel="stylesheet" type="text/css">
                                    
                                    <!-- Just for debugging purposes. Don't actually copy this line! -->
                                    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
                                    
                                    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
                                    <!--[if lt IE 9]>
                                     <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
                                     <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
                                     <![endif]-->
                                    <script>
                                        $(function(){
                                          $("#includeMenu").load("{{ STATIC_URL }}/html/menu.html");
                                          });
                                        </script>
                                    <script>
                                        $(function(){
                                          $("#includeFooter").load("{{ STATIC_URL }}/html/footer.html");
                                          });
                                        </script>
    </head>
    
    <body>
        
        <div class="site-wrapper">
            
            <div class="site-wrapper-inner">
                
                <div class="cover-container">
                    
                    <div class="masthead clearfix">
                        <div class="inner">
                            <h3 class="masthead-brand">Cover</h3>
                            <ul class="nav masthead-nav">
                                <li class="active"><a href="#">Home</a></li>
                                <li><a href="#">Features</a></li>
                                <li><a href="#">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                    
                    <div class="inner cover">
                        <h1 class="cover-heading">Vextest</h1>
                        <p class="lead">Do some music stuff.</p>

                          <h2>Test basics</h2>
                            <div class="one">
                                <canvas width=525 height=120></canvas>
                                <p/>
                                <script>
                          var canvas = $("div.one canvas")[0];
                          var renderer = new Vex.Flow.Renderer(canvas,
                            Vex.Flow.Renderer.Backends.CANVAS);

                          var ctx = renderer.getContext();
                          var stave = new Vex.Flow.Stave(10, 0, 500);
                          stave.addClef("treble").setContext(ctx).draw();
                                </script>
                            </div>

                        <p class="lead">
                        <a href="#" class="btn btn-lg btn-default">Learn more</a>
                        </p>
                    </div>
                    
                    <div class="mastfoot">
                        <div class="inner">
                            <p>Copyright Ear Training 2014, by <a href="pages/about/">us</a>.</p>
                        </div>
                    </div>
                    
                </div>
                
            </div>
            
        </div>
        
        <!-- Bootstrap core JavaScript
         ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="{{STATIC_URL}}/js/bootstrap.min.js"></script>
        <script src="{{STATIC_URL}}/js/docs.min.js"></script>
    </body>
</html>
