@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 200;
  src: local('Raleway ExtraLight'), local('Raleway-ExtraLight'), url(http://themes.googleusercontent.com/static/fonts/raleway/v7/8KhZd3VQBtXTAznvKjw-k73hpw3pgy2gAi-Ip7WPMi0.woff) format('woff');
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  src: local('Raleway Light'), local('Raleway-Light'), url(http://themes.googleusercontent.com/static/fonts/raleway/v7/-_Ctzj9b56b8RgXW8FArib3hpw3pgy2gAi-Ip7WPMi0.woff) format('woff');
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: local('Raleway Bold'), local('Raleway-Bold'), url(http://themes.googleusercontent.com/static/fonts/raleway/v7/JbtMzqLaYbbbCL9X6EvaI73hpw3pgy2gAi-Ip7WPMi0.woff) format('woff');
}

#logo {
      animation-delay:0.25s; 
      -moz-animation-delay:0.25s; 
      -webkit-animation-delay:0.25s; 
      animation-duration:2s; 
      -moz-animation-duration:2s; 
      -webkit-animation-duration:2s; 
      font-weight:700;
      font-size:100;
}
#description{
		animation-delay:1.6s; 
		-moz-animation-delay:1.6s; 
		-webkit-animation-delay:1.6s;
}
#startbutton {
animation-delay:1.3s; 
    -moz-animation-delay:1.3s; 
    -webkit-animation-delay:1.3s;

}
/*#startbutton:hover {
  -webkit-animation:pulse .5s;
  animation-fill-moe:forwards;
  -moz-animation-fill-mode:forwards;
  -webkit-animation-fill-mode:forwards;
  opacity:1;
}*/
.form-group {
margin-bottom:20px
}
.form-control {
display:inline;
width:75%;
}

.img-circle{
height:auto;
max-width:50%;
}

.navbar-default {
		background-image: none;
		background-color: #2185c5;
    border:none;
  	text-shadow: none;
		padding: 7px;
}
.nav > li:hover {
     background-color:rgba(177, 226, 255, .5);
     -webkit-transition: all .4s ease-in-out;
     -moz-transition: all .4s ease-in-out;
     transition: all .4s ease-in-out;
}
.navbar-default .navbar-brand {
		color: #f8f8f8;
		font-weight: 700;
		font-size: xx-large;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
		color: #b1e2ff;
}
.navbar-default .navbar-text {
		color: #f8f8f8;
}
.navbar-default .navbar-nav > li > a {
		color: #f8f8f8;
		font-size: larger;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
		color: #fff;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
		color: #b1e2ff;
		background-color: #59a3d3;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
		color: #b1e2ff;
		background-color: #59a3d3;
}
.navbar-default .navbar-toggle {
		border-color: #59a3d3;
}
v.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
		background-color: #59a3d3;
}
.navbar-default .navbar-toggle .icon-bar {
		background-color: #f8f8f8;
    }
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
		border-color: #f8f8f8;
}
.navbar-default .navbar-link {
		color: #f8f8f8;
}
.navbar-default .navbar-default:hover .navbar-link:hover {
		color: #b1e2ff;
}

@media (max-width: 767px) {
       .navbar-default .navbar-nav .open .dropdown-menu > li > a {
       		       color: #f8f8f8;
		       }
		       .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
		       		       color: #b1e2ff;
				       }
				       .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
				       		       color: #b1e2ff;
						       	      background-color: #59a3d3;
							      }
}
/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #111;
}
p, div {
   font-family: 'Raleway';
}

li {
  font-size: 18px;
  margin-bottom: 8px;
  font-weight:  200;
}
.dropdown-menu {
   text-shadow: none;	
   box-shadow:none;
   background-color: #F9F8FC;	
   		     margin-top: 7px;
}

#statusbar{
  background-color:rgba(0,0,0,.5);
  background-radius:30px;
  margin-top:50px;
}
/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #191919;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-image: none;
  border-radius: 30px;
  border:none;
  font-weight: bold;
  background-color: #ff606e;

}

.btn-default:hover {
  background-color: #ff4757;
}
.btn-primary,
.btn-success,
.btn-info {
  text-shadow:none;
  background-image: none;
  border-radius:30px;
  border:none;
  font-weight:bold;
}
input, textarea{
    color: #333;
}
/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #fff;
  padding-top: 70px;

}
body {
  color: #000;
  text-align: center;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {

  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
}
.site-wrapper-inner {

  display: table-cell;
  vertical-align: top;
}
.cover-container {

  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}



/*
 * Cover
 */
.bluerow{
	padding:50 300 50 300;
	margin:0 -300 0 -300;
	background-color:rgb(131, 218, 252);
}
.cover {
  padding: 20 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}


/*
 * Footer
 */

.contactfooter {
  padding-top:30px;
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 1000px;
  }
}
